.Profile-main-container {
  margin: 80px auto;
  width: 1000px;
  text-align: center;
}

.Personal-top-wrapper {
  display: flex;
}

.Profile-photolist {
  display: flex;
}

.Profile-img {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  border-radius: 50%;
}

.Identity {
  margin-left: 3em;
}

.userName {
  margin-bottom: 0.5em;
  text-align: left;
  font-weight: bolder;
  font-size: 1.5em;
}

.userID {
  margin-bottom: 0.5em;
  color: skyblue;
}

.followers {
}
